@media (prefers-color-scheme: dark) {
    body {
        background-color: rgb(68, 68, 68);
    }

    canvas {
        background-color: rgb(68, 68, 68);
    }

    div.app-bar {
        background-color: #353535;
    }

    button#button-select-sector:active {
        background: url('../assets/image/open.grey.svg') no-repeat center #1f1d1d;
    }

    button#button-runway:active {
        background: url('../assets/image/runway.white.large.svg') no-repeat center #1f1d1d;
    }

    button#button-output:active {
        background: url('../assets/image/headset.grey.svg') no-repeat center #1f1d1d;
    }

    button#button-atis:active {
        background: url('../assets/image/radar.grey.svg') no-repeat center #1f1d1d;
    }

    button#button-setting:active {
        background: url('../assets/image/setting.grey.svg') no-repeat center #1f1d1d;
    }



    button#button-voice:active {
        background: url('../assets/image/voice.grey.svg') no-repeat center #1f1d1d;
    }

    button#button-display:active {
        background: url('../assets/image/display.grey.svg') no-repeat center #1f1d1d;
    }



    a.appbar-menu-item {
        color: whitesmoke;
    }

    div.footer-tool {
        background-color: #353535;
    }

    div#tool-bar {
        background-color: rgb(228, 228, 228);
    }

    div.footer-channel-chooser a.channel {
        color: orange;
    }

    div.footer-channel-chooser a.channel:hover {
        color: white;
    }

    div.footer-channel-chooser a.channel:active {
        color: rgb(207, 135, 0) #323232;
    }

    div.footer-channel-message {
        color: white;
    }

    ::-webkit-scrollbar-track {
        background-color: #353535;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #d3d3d362;
    }

    button#button-theme-toggle {
        background: url('../assets/image/lightmode.grey.svg') no-repeat center;
    }

    button#button-display {
        background: url('../assets/image/display.grey.svg') no-repeat center;
    }

    button#button-voice {
        background: url('../assets/image/voice.grey.svg') no-repeat center;
    }

    button#button-setting {
        background: url('../assets/image/setting.grey.svg') no-repeat center;
    }

    button#button-atis {
        background: url('../assets/image/radar.grey.svg') no-repeat center;
    }

    button#button-output {
        background: url('../assets/image/headset.grey.svg') no-repeat center;
    }

    button#button-runway {
        background: url('../assets/image/runway.white.large.svg') no-repeat center;
    }

    button#button-select-sector {
        background: url('../assets/image/open.grey.svg') no-repeat center;
    }

    button#button-close-app {
        background: url('../assets/image/close.white.svg') no-repeat center;
        right: 0;
    }

    button#button-restore-app {
        background: url('../assets/image/restore.white.svg') no-repeat center;
        right: 36px;
    }

    button#button-minimize-app {
        background: url('../assets/image/minimize.white.svg') no-repeat center;
        right: 72px;
    }
}

@media (prefers-color-scheme: light) {
    body {
        background-color: rgb(216, 216, 216);
    }

    button#button-theme-toggle {
        background: url('../assets/image/darkmode.dark.svg') no-repeat center;
    }

    canvas {
        background-color: rgb(150, 150, 150);
    }

    div.app-bar {
        background-color: #eeeeee;
    }

    button#button-select-sector:active {
        background: url('../assets/image/open.dark.svg') no-repeat center #0000001c;
    }

    button#button-runway:active {
        background: url('../assets/image/runway.dark.large.svg') no-repeat center #0000001c;
    }

    button#button-output:active {
        background: url('../assets/image/headset.dark.svg') no-repeat center #0000001c;
    }

    button#button-atis:active {
        background: url('../assets/image/radar.dark.svg') no-repeat center #0000001c;
    }

    button#button-setting:active {
        background: url('../assets/image/setting.dark.svg') no-repeat center #0000001c;
    }



    button#button-voice:active {
        background: url('../assets/image/voice.dark.svg') no-repeat center #0000001c;
    }

    button#button-display:active {
        background: url('../assets/image/display.dark.svg') no-repeat center #0000001c;
    }

    a.appbar-menu-item {
        color: black;
    }

    div.footer-tool {
        background-color: #eeeeee;
    }

    div#tool-bar {
        background-color: rgb(228, 228, 228);
    }

    div.footer-channel-chooser a.channel {
        color: rgb(158, 103, 0);
    }

    div.footer-channel-chooser a.channel:hover {
        color: white;
    }

    div.footer-channel-chooser a.channel:active {
        color: rgb(207, 135, 0) #323232;
    }

    div.footer-channel-message {
        color: rgb(51, 51, 51);
    }

    ::-webkit-scrollbar-track {
        background-color: #a5a5a5;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #d3d3d362;
    }

    button#button-display {
        background: url('../assets/image/display.dark.svg') no-repeat center;
    }

    button#button-voice {
        background: url('../assets/image/voice.dark.svg') no-repeat center;
    }

    button#button-setting {
        background: url('../assets/image/setting.dark.svg') no-repeat center;
    }

    button#button-atis {
        background: url('../assets/image/radar.dark.svg') no-repeat center;
    }

    button#button-output {
        background: url('../assets/image/headset.dark.svg') no-repeat center;
    }

    button#button-runway {
        background: url('../assets/image/runway.dark.large.svg') no-repeat center;
    }

    button#button-select-sector {
        background: url('../assets/image/open.dark.svg') no-repeat center;
    }

    button#button-close-app {
        background: url('../assets/image/close.dark.svg') no-repeat center;
        right: 0;
    }

    button#button-restore-app {
        background: url('../assets/image/restore.dark.svg') no-repeat center;
        right: 36px;
    }

    button#button-minimize-app {
        background: url('../assets/image/minimize.dark.svg') no-repeat center;
        right: 72px;
    }
}

div.tag-list {
    position: fixed;
    height: calc(100% - 136px);
    left: 0;
    top: 36px;
    width: 208px;
    background: rgba(0, 0, 0, 0.05);
    overflow-y: hidden;
    overflow-x: hidden;
    box-sizing: border-box;
}

div.tag-list:hover {
    overflow-y: auto;
}

div.tag-item {
    position: relative;
    margin: 3px;
    box-sizing: border-box;
    background-color: #32323256;
    width: 202px;
    height: 80px;
    border-radius: 4px;
    user-select: none;
    cursor: pointer;
    transition: all 0.2s;
}

input.tag-list-searchbox {
    border: none;
    outline: none;
    width: 202px;
    margin: 3px;
    margin-bottom: 0;
    border-radius: 4px;
    height: 24px;
    background-color: #32323256;
    color: #cbcbcb;
}

div.tag-item {
    font-weight: bold;
}

div.tag-item:hover {
    box-shadow: 0 5px 12px 4px rgba(255, 255, 255, 0.336);
}

div.tag-item a {
    margin: 4px 8px 4px 8px;
}

div.tag-item a.tag-ac-cs {
    top: 6px;
    position: relative;
    font-size: large;
    color: #cbcbcb;
}

div.tag-item a.tag-ac-type {
    position: relative;
    top: 6px;
    color: #cbcbcb;
    font-size: small;
}

div.tag-item a.tag-ac-stat {
    position: relative;
    top: 6px;
    color: #cbcbcb;
}

div.tag-item a.tag-ac-alt {
    position: relative;
    display: inline-block;
    color: orange;
    font-size: small;
}

div.tag-item a.tag-ac-dep {
    position: relative;
    color: #cbcbcb;
    font-size: small;
}

div.tag-item a.tag-ac-arr {
    position: relative;
    font-size: small;
    color: #cbcbcb;
}

div.tag-item a.tag-ac-alt-target {
    position: relative;
    font-size: small;
    color: #cbcbcb;
    bottom: 5px;
}

div.tag-item div.tag-warning {
    background-color: green;
    position: absolute;
    width: 100%;
    bottom: 0;
    border-radius: 0 0 4px 4px;
    color: #cbcbcb;
    height: 20px;
    font-size: small;
    line-height: 20px;
    padding-left: 8px;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.5s;
}

body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

canvas {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}

div.app-bar {
    -webkit-app-region: drag;
    border: none;
    height: 36px;
    box-shadow: 0 9px 28px 8px rgba(0, 0, 0, 0.05);
}

button {
    cursor: pointer;
}

button:hover {
    box-shadow: 0 5px 12px 4px rgba(0, 0, 0, 0.09);
}

button.appbar-menu-item {
    -webkit-app-region: no-drag;
    width: 36px;
    height: 36px;
    position: relative;
    border: none;
    background-color: transparent;
    transition: all 0.2s;
}

button#button-connect {
    width: 80px;
    background: url('../assets/image/connect.white.svg') no-repeat center rgb(0, 119, 255);
    margin-right: 8px;
}

button#button-connect {
    background: url('../assets/image/connect.white.svg') no-repeat center rgb(42, 141, 255);
}

button#button-connect:active {
    background: url('../assets/image/connect.white.svg') no-repeat center rgb(0, 68, 146);
}

button.appbar-win-control {
    -webkit-app-region: no-drag;
    width: 36px;
    height: 36px;
    position: fixed;
    top: 0;
    border: none;
    background-color: transparent;
    transition: all 0.2s;
}

button#button-close-app:hover {
    background: url('../assets/image/close.white.svg') no-repeat center rgb(161, 0, 0);
}

a.appbar-menu-item {
    text-decoration: none;
    line-height: 36px;
    font-size: 12px;
    width: 100px;
    position: relative;
    height: 36px;
    margin: 0;
    padding: 0;
    top: -13px;
    margin-left: 0px;
    user-select: none;
}

div.footer-tool {
    position: fixed;
    width: 100%;
    height: 100px;
    bottom: 0;
    overflow-y: auto;
}

div#tool-bar {
    position: fixed;
    width: 100%;
    height: 28px;
    bottom: 0;
}

a.tool-bar-label {
    position: relative;
    line-height: 28px;
    margin-left: 8px;
    text-decoration: none;
}

input.tool-bar-messagebox {
    height: 20px;
    width: 720px;
    position: relative;
    top: -1px;
    outline: none;
}

div.footer-channel-chooser {
    position: relative;
    width: 80px;
    height: 72px;
    overflow-y: auto;
    display: inline;
}

div.footer-channel-chooser a.channel {
    display: block;
    user-select: none;
    font-size: 12px;
    margin-left: 2px;
}

div.footer-channel-message {
    position: fixed;
    bottom: 28px;
    left: 80px;
    height: 72px;
    width: calc(100% - 80px);
    padding: 4px;
    font-size: 12px;
    box-sizing: border-box;
    overflow-y: auto;
}

a.footer-message {
    position: relative;
    display: block;
    transition: all 0.2s;
}

a.footer-message:hover {
    border: 1px solid grey;
    font-size: 14px;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    box-shadow: 0 5px 12px 4px rgba(0, 0, 0, 0.082);
}